<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>私の公開日記</title>
  </head>
  <body>
    <!-- ヘッダー -->
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="/">
          <img
            src="images/KitSecIcon.svg"
            alt="Logo"
            width="60"
            height="60"
            class="d-inline-block align-text-top"
            style="height: 50px; vertical-align: top"
          />
          <span
            style="
              height: 50px;
              font-size: 40px;
              line-height: 50px;
              vertical-align: top;
            "
            >私の公開日記</span
          >
        </a>
      </div>
    </nav>

    <!-- コンテンツ -->
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-4 mt-3">
          <div class="card" style="width: 20rem; height: 25rem">
            <img
              src="images/kate-stone-matheson-uy5t-CJuIK4-unsplash.jpg"
              class="card-img-top"
              style="height: 16rem"
            />
            <div class="card-body">
              <h2><a href="./file?file_name=01-01">1月1日の出来事</a></h2>
              <p>画像元:<br />Unsplash,Kate Stone Matheson</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="card" style="width: 20rem; height: 25rem">
            <img
              src="images/jamie-street-MoDcnVRN5JU-unsplash.jpg"
              class="card-img-top"
              style="height: 16rem"
            />
            <div class="card-body">
              <h2><a href="./file?file_name=01-02">1月2日の出来事</a></h2>
              <p>画像元:<br />Unsplash,Jamie Street</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="card" style="width: 20rem; height: 25rem">
            <img
              src="images/pushkaraj-deshpande-W4irODCD3fo-unsplash.jpg"
              class="card-img-top"
              style="height: 16rem"
            />
            <div class="card-body">
              <h2><a href="./file?file_name=01-03">1月3日の出来事</a></h2>
              <p>画像元:<br />Unsplash,Pushkaraj Deshpande</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="card" style="width: 20rem; height: 25rem">
            <img
              src="images/sam-carter-GHOiyov2TSQ-unsplash.jpg"
              class="card-img-top"
              style="height: 16rem"
            />
            <div class="card-body">
              <h2><a href="./file?file_name=01-04">1月4日の出来事</a></h2>
              <p>画像元:<br />Unsplash,Sam Carter</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="card" style="width: 20rem; height: 25rem">
            <img
              src="images/ray-hennessy-xUUZcpQlqpM-unsplash.jpg"
              class="card-img-top"
              style="height: 16rem"
            />
            <div class="card-body">
              <h2><a href="./file?file_name=01-05">1月5日の出来事</a></h2>
              <p>画像元:<br />Unsplash,Ray Hennessy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
</html>
